---
import BaseLayout from "../layouts/BaseLayout.astro";

import Header from "../components/layouts/Header.astro";
import Hero from "../components/layouts/Hero.astro";
import FeaturedArticles from "../components/layouts/FeaturedArticles.astro";
import LatestArticles from "../components/layouts/LatestArticles.astro";
import Categories from "../components/layouts/Categories.astro";
import Founder from "../components/layouts/Founder.astro";
import Footer from "../components/layouts/Footer.astro";
---

<BaseLayout
    title="The Technology Joint"
    description="Technology insights, reviews and cybersecurity guides."
>
    <Header />

    <main>
        <Hero />

        <FeaturedArticles />

        <LatestArticles />

        <Categories />

        <Founder />
    </main>

    <Footer />
</BaseLayout>
